on:
  pull_request:
  push:
    branches: [main]

jobs:
  lictool:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - uses: actions/setup-python@v4
        with:
          python-version: 3.x

      - uses: pre-commit/action@v3.0.1
        with:
          extra_args: license-tools

      - uses: pre-commit-ci/lite-action@v1.0.2
        if: always()
